# If there is a "/" at the beginning or middle (or both) of the pattern, then the pattern is relative to the directory level of the particular .gitignore file itself. Otherwise the pattern may also match at any level below the .gitignore level.
# If there is a "/" at the end of the pattern then the pattern will only match directories, otherwise the pattern can match both files and directories.

# misc
#/.*
/*~*
vitest/
